#login{
	margin: 10%;
}

#header{
	margin-bottom: 20px;
	color: white;
	font-family: 'Kaushan Script', cursive;
	font-size: 43px;
	font-weight: 400;
}

#emp_email, #emp_password, #submitBtn2{
	width: 30%;
	margin: auto;
}


#background {
    position: absolute;
    top: 0;
    left: 0;
   	background-color: black;
    width: 100%;
    height: 100%;
    opacity : 0.7;
    z-index: -1;
}